crypto isakmp policy {{Policy_Number}}
hash sha256
authentication pre-share
group 14
lifetime 7200
encryption aes 256
crypto isakmp key strongkey address 0.0.0.0
crypto ipsec transform-set crypto_ts esp-sha256-hmac esp-aes 256
mode transport
crypto ipsec profile crypto_profile
set transform-set crypto_ts