
ip access-list standard snmp_acl
  permit host {{snmp_server_ip}}
snmp-server community device_snmp snmp_acl
snmp-server system-shutdown
snmp-server enable traps config
snmp-server host {{snmp_server_ip}} version 2c device_snmp