interface tunnel {{Tunnel_ID}}
description {{Description}}
ip address {{IP_address}} {{Netmask}}
no ip redirects
ip mtu 1400
delay {{Delay}}
ip nhrp authentication {{Authentication}}
ip nhrp network-id {{Network_ID}}
ip nhrp nhs {{NHS_IP}} nbma {{NBMA_IP}} multicast
ip tcp adjust-mss 1360
tunnel source {{Source}}
tunnel mode gre multipoint
tunnel key {{Tunnel_key}}
