


interface Tunnel0
ip address {{tunnel0_ip}} 255.255.255.0
no ip redirects
ip mtu 1400
ip nhrp authentication dmvpnvpn
ip nhrp network-id 10
ip nhrp holdtime 300
ip nhrp nhs 192.168.0.1 nbma 32.19.86.9 multicast
ip tcp adjust-mss 1360
tunnel source {{tunnel0_source_ip}}
tunnel mode gre multipoint
tunnel key 10

interface Tunnel1
ip address {{tunnel1_ip}} 255.255.255.0
no ip redirects
ip mtu 1400
ip nhrp authentication dmvpnvpn
ip nhrp network-id 20
ip nhrp nhs 192.168.1.1 nbma 32.19.86.10 multicast
ip tcp adjust-mss 1360
tunnel source {{tunnel0_source_ip}}
tunnel mode gre multipoint
tunnel key 20
