
zone security Inside
zone security Outside

class-map type inspect match-any In_Out_Class
{% for protocol in protocol_list %}
match protocol {{protocol}}
{% endfor %}

policy-map type inspect In_Out_Policy
class In_Out_Class
inspect
exit

zone-pair security In_out_Zone source Inside destination Outside
service-policy type inspect In_Out_Policy

{% for interface in Inside_intf %}
interface {{interface}}
zone-member security Inside
{% endfor %}

{% for interface in Outside_intf %}
interface {{interface}}
zone-member security Outside
{% endfor %}
